@model IEnumerable<MvcMovie.Models.Pedido>
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
    bool isAdmin = User.IsInRole("Administrador");
}

<h2>Lista de Pedidos</h2>

<style>
    .btn-detalles {
        background-color: green;
        color: white;
    }

    .btn-editar {
        background-color: yellow;
        color: black;
    }

    .btn-eliminar {
        background-color: red;
        color: white;
    }

    .btn-pagar {
        background-color: lightblue;
        color: black;
    }
</style>

<table class="user-table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Detalles</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pedido in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => pedido.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => pedido.Detalles)</td>
                <td>@Html.DisplayFor(modelItem => pedido.Total)</td>
                <td>
                    <a class="btn btn-detalles" asp-action="Details" asp-route-id="@pedido.Id">Detalles</a>
                    @if (isAdmin)
                    {
                        <a class="btn btn-editar" asp-action="Edit" asp-route-id="@pedido.Id">Editar</a>
                        <a class="btn btn-eliminar" asp-action="Delete" asp-route-id="@pedido.Id">Eliminar</a>
                    }
                    <a class="btn btn-pagar" asp-action="Checkout" asp-controller="Payment" method="get" asp-route-pedidoId="@pedido.Id">Pagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
