@model IEnumerable<MvcMovie.Models.Pedido>

<h2>Lista de Pedidos</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Detalles
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pedido in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => pedido.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => pedido.Detalles)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => pedido.Total)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@pedido.Id">Detalles</a> |
                    <a asp-action="Edit" asp-route-id="@pedido.Id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@pedido.Id">Eliminar</a> |
                    <a asp-action="Checkout" asp-route-pedidoId="@pedido.Id">Pagar</a> <!-- Agregar el enlace a la acción Checkout -->
                </td>
            </tr>
        }
    </tbody>
</table>
