@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>

<div>
    <h3>Detalles del Pedido</h3>
    <p>Nombre: @Model.Nombre</p>
    <p>Detalles: @Model.Detalles</p>
    <p>Total: @Model.Total</p>
</div>

<script src="https://sdk.mercadopago.com/js/v2"></script>
<script>
    const mp = new MercadoPago('@ViewBag.PublicKey', {
        locale: 'es-AR'
    });

    mp.checkout({
        preference: {
            id: '@ViewBag.PreferenceId'
        },
        render: {
            container: '.cho-container', // Indica el nombre de la clase donde se mostrará el botón de pago
            label: 'Pagar', // Cambia el texto del botón de pago (opcional)
        }
    });
</script>

<div class="cho-container"></div>